.channel-title {
    margin-top: 0;
    color: white;
}

.channel-container {
    background-color: #454545;
    margin: 3%;
    margin-left: 20%;
    width: 77%;
    height: 45.22rem;
}

.channel-settings {
    position: absolute;
    top: 6%;
    right: 3%;
}

.message-feed {
    margin-left: 10%;
}