.server-form-title {
    padding-top: 6%;
    margin-left: 35% !important;
    width: max-content;
}

.server-form {
    margin-left: 14% !important;
}

.server-form-btns {
    margin-left: 34% !important;
}

.lobby-add-container {
    background-color: #454545;
    margin: 3%;
    margin-left: 10% !important;
    width: 87%;
	height: 45.22rem;
}